* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Verdana", sans-serif;
}

.jkwp {
  width: 80vmin;
  padding: 50px 40px;
  background-color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 5px;
}

body {
  background-color: #000;
}

p {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
  line-height: 35px;
  margin: 30px 0;
  opacity: 0;
}

.fade {
  opacity: 1;
  transition: opacity 1.5s;
}

button {
  display: block;
  background-color: #000;
  border: none;
  padding: 5px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  padding: 12px 25px;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}